* {
    font-family: 'Poppins', sans-serif;
}

main {
    width: 85%;
    margin: 30px auto;
}

hr {
    border: 0;
    background-color: #ccc;
    height: 2px;
    margin: 20px 0;
}

#add {
    padding: 5px 10px;
    background-color: #fff;
    border: 1 px solid #aaa;
    /* border: none; */
    border-radius: 10px;
    transition: all 0.4s ease;
}

#add:hover {
    cursor: pointer;
    background-color: cadetblue;
    border-color: cadetblue;
    color: white;
}

#create label {
    display: block;
    width: 300px;
}

footer {
    margin-top: 20px;
    text-align: center;
}

.loading {
    color: #ccc;
    padding: 15px;
    border: 1px dashed #aaa;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/* ANIMATION */

@keyframes pulse {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.4;
    }
}